.mystyle-btn:hover:hover{
    background-color: white !important;
    color: black;
    transition: 0.75s;
}
body{
    background-color: #6610f2;
}
.my-icon{
    width: 20%;
}
.my-icon-flex{
    justify-content: flex-end;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #444444;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #302f2f;
}
.skill-percent{
    background-color: rgb(199, 48, 48);
    border: 2px solid ;
    border-radius: 6px;
    height: 100%;
}
ul{
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.nav-link{
    font-weight: bold;
}
.carousel-indicators-mystyle{
    top: 2rem;
}
.carousel-control-prev-mystyle{
    right: 30%;
}
.carousel-control-next-mystyle{
    left: 30%;
}
hr {
    border: 1px dotted #ffffff;
}
.f-mystyle{
    font-size: 12px;
}
.scale:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
.label-triangle{
    border-radius: 67% 33% 33% 67% / 50% 49% 51% 50%;
    width: 32px;
    height: 32px;
    line-height: 34px;
    font-size: 13px;
    background-color: #ff4242;
    text-align: center;
    top: 1rem;
    right: 1rem;
    position: absolute;
}
.label-soon{
    background-color: rgb(250, 221, 60);
    border-radius: 15px;
    font-size: 12px;
    position:absolute;
    top: 1rem;
    left: 1rem;
}
.pos{
    left: 1rem;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 12px;
}
.a:hover{
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1) 0s;
}
.blur:hover{
        filter: blur(1px);
        transition: all 0.5s;
}
.grid-product{
    display: grid;
    grid-template-columns: auto auto auto;
    font-size: 0.75rem;
}
.custom-border
{
    border-radius: 1rem 1rem 1rem 2rem;
}
.fal{
    font-size: 13px;
    color: #ffffff;
    background-color: rgb(42, 42, 161);
    text-align: center;
    width: 24px;
    line-height: 24px;
    border-radius: 10px 0 10px 10px;
}
.l-mystyle{
    line-height: 25px;
}
.curser{
    cursor: pointer;
}
.cus-border{
    border-style: dashed;
    border-color: #a1a1a1!important;
}
/* .pos{
    bottom: -30%;
} */
/* .nav-hover:hover{
    background-color: white;
    color: black!important ;
} */